<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'checkOut.css' %}">
    </head>
    <body>
        <div id="Box">
            <div class="titleBox">
                <h3>Thank you for your business!</h3>
            </div>
            <div class="content">
                <p>We charged your credit card for ${{ item.total_price }}</p>
                <p>You have ordered #{{ orders }} items so far and spent ${{ total }} with Amadon.com!</p>
            </div>
            <div class="back">
                <p><a href="/">Go Back</a></p>
            </div>
        </div>
    </body>
</html>